<button class="boton-atras" (click)="volverCarrito()">
  ← Volver al carrito
</button>

<div class="checkout">

  <h2>Datos de envío</h2>

  <input [(ngModel)]="envio.nombre" placeholder="Nombre completo">

  <input [(ngModel)]="envio.email" placeholder="Email">

  <input [(ngModel)]="envio.direccion" placeholder="Dirección">

  <input [(ngModel)]="envio.ciudad" placeholder="Ciudad">

  <input [(ngModel)]="envio.region" placeholder="Región">

  <input [(ngModel)]="envio.codigoPostal" placeholder="Código postal">

  <input [(ngModel)]="envio.telefono" placeholder="Teléfono">

  <button (click)="pagar()">
    Pagar con tarjeta
  </button>

</div>
