<div class="body">
    
    <header class="header">
        <div class="header__contenido">
            <a href="">
                <img class="header__logo" src="/assets/img/logo.png" alt="Logotipo">
            </a>

            <nav class="navegacion">
                <a class="navegacion__enlace navegacion__enlace--activo" href="">Tienda</a>
                <a class="navegacion__enlace" href="/nosotros">Nosotros</a>
                <a class="navegacion__enlace" href="/carrito">carrito</a>
            </nav>
        </div>
    </header>

    <div class="cuerpo">
        <p>En FrontendStore, somos más que una simple tienda de poleras. Somos un espacio donde la creatividad, la tecnología y el estilo se encuentran. Nacimos con una misión clara: celebrar la pasión por el desarrollo frontend y el diseño web, transformándola en ropa que puedas usar con orgullo, tanto en la oficina como en tu día a día.

            Nuestra inspiración viene directamente de la comunidad tech, de esas largas horas de codificación, de las líneas de código que crean experiencias digitales y de la cultura geek que todos amamos. Sabemos que ser desarrollador es más que un trabajo: es un estilo de vida. Y creemos que tu ropa también puede reflejarlo.
            
            En FrontendStore, cada diseño cuenta una historia, cada polera es una pieza única que captura la esencia de lo que significa ser parte del mundo del desarrollo web. Ya sea que estés trabajando con HTML, CSS, JavaScript o el framework más reciente, aquí encontrarás el diseño perfecto que se ajuste a tu personalidad y tus herramientas favoritas.
            
            Nuestros valores:
            
            Creatividad: Nos encanta jugar con el código y las ideas, creando diseños que sorprendan y te hagan sonreír.
            Calidad: Usamos los mejores materiales para garantizar que nuestras poleras sean tan duraderas como el código bien hecho.
            Sostenibilidad: Estamos comprometidos con la creación de productos de manera ética y responsable, cuidando tanto a nuestros clientes como al planeta.
            Comunidad: FrontendStore es una marca hecha por y para desarrolladores. Nos encanta colaborar, compartir ideas y aprender juntos.
            Queremos que te sientas parte de algo más grande, una comunidad de creadores que no solo construyen la web del mañana, sino que también la visten. ¿Listo para llevar tu pasión por el frontend al siguiente nivel? ¡Explora nuestros diseños y únete a la revolución de FrontendStore!
        </p>
    </div>
</div>   
