<div class="body">
  <header class="header">
    <div class="header__contenido">
      <a href="">
        <img class="header__logo" src="/assets/img/logo.png" alt="Logotipo">
      </a>

      <nav class="navegacion">
        <a class="navegacion__enlace navegacion__enlace--activo" href="">Tienda</a>
        <a class="navegacion__enlace" href="/nosotros">Nosotros</a>
        <a class="navegacion__enlace" href="/carrito">Carrito</a>
      </nav>
    </div>
  </header>

  <div class="cuerpo">

    <div *ngIf="productos && productos.length > 0; else noProductos">
      <h3>Carrito de compras</h3>

      <ul>
        <li *ngFor="let prod of productos; let i = index">

          <!-- IMAGEN -->
          <div class="producto-imagen">
            <img
              src="/assets/img/{{prod.id}}.jpg"
              alt="imagen"
              class="img-producto"
            >
          </div>

          <!-- INFO -->
          <div class="producto-info">
            <p class="nombre">
              {{ prod.nombre }}
            </p>

            <p>
              <strong>Precio unitario:</strong>
              {{ prod.precio | number:'1.0-0' }} CLP
            </p>

            <p>
                <strong>Talla:</strong>
                {{ prod.talla }}
            </p>

            <p>
              <strong>Cantidad:</strong>
              {{ prod.cantidad }}
            </p>

            <p class="total">
              <strong>Total:</strong>
              {{ prod.precio * prod.cantidad | number:'1.0-0' }} CLP
            </p>
          </div>

          <!-- ACCIONES -->
          <div class="producto-acciones">
            <button (click)="eliminarDelCarrito(i)">
              Eliminar
            </button>
          </div>

        </li>
      </ul>
    </div>

    <ng-template #noProductos>
      <p>No hay productos en el carrito</p>
    </ng-template>

    <div class="contenedor-botones">
      <button
        class="boton agregar-carrito"
        (click)="terminarCompra()">
        Terminar compra
      </button>
    </div>

  </div>
</div>
