<section class="body">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <header class="header">
        <div class="header__contenido">
            <a href="">
                <img class="header__logo" src="/assets/img/logo.png" alt="Logotipo">
            </a>

            <nav class="navegacion">
                <a class="navegacion__enlace navegacion__enlace--activo" href="">Tienda</a>
                <a class="navegacion__enlace" href="/nosotros">Nosotros</a>
                <a class="navegacion__enlace" href="/carrito">carrito</a>
            </nav>
        </div>
    </header>

    <div class="cuerpo"> 
        <div class="imagen">
            <img src="/assets/img/{{id}}.jpg" alt="imagen" class="foto">
            <div class="precio">{{precio}} clp</div>

            <div class="selector-talla">

                <p class="label-talla">TALLA</p>

                <div class="tallas">
                    <button
                        *ngFor="let talla of tallas"
                        type="button"
                        class="talla-btn"
                        [class.activa]="tallaSeleccionada === talla"
                        (click)="tallaSeleccionada = talla">
                        {{ talla }}
                    </button>
                </div>

                <!-- MENSAJE TALLA SELECCIONADA -->
                <p class="talla-elegida" *ngIf="tallaSeleccionada">
                    Talla seleccionada: <strong>{{ tallaSeleccionada }}</strong>
                </p>

                <!-- CANTIDAD -->
                <div class="cantidad">
                    <label>Cantidad</label>
                    <input
                    type="number"
                    min="1"
                    [(ngModel)]="cantidadSeleccionada">
                </div>

            </div>


        </div>

       <div class="descripcion">
            <p>{{ descripcion }}</p>

            <div class="contenedor-botones">
                <button
                    class="boton agregar-carrito"
                    [disabled]="!tallaSeleccionada"
                    (click)="addToCart()">
                    Agregar al carrito
                </button>

                <button
                    class="boton comprar-ahora"
                    [disabled]="!tallaSeleccionada"
                    (click)="comprarAhora()">
                    Comprar ahora
                </button>
            </div>
        </div>



    </div>

    
</section>